parameters:
    level: 5
    paths:
        - .
    excludePaths:
        - vendor/*
        - node_modules/*
        - .github/*
        - "*.md"
        - "*.txt"
    ignoreErrors:
        # Bỏ qua cảnh báo reserved keyword (đã fix nhưng PHPStan vẫn có thể cache)
        - '#It is recommended not to use reserved keyword "class" as function parameter name#'
        # Tạm bỏ qua lỗi missing stub nếu thư viện bên thứ 3 gây nhiễu
        - '#Parameter .* of method .* has invalid type#'